@{
    ViewData["Title"] = "Confirmação apagar o contato";
}

<div class="text-center">
    <h3>Realmente deseja apagar o contato(Lucas Martins)?</h3>
</div>
<br />

<a class="btn btn-danger d-block w-100" role="button" asp-controller="Contato" asp-action="Index">CANCELAR</a>
<br />
<a class="btn btn-success d-block w-100" role="button" asp-controller="Contato" asp-action="Apagar">CONFIRMAR</a>