@model ContatoModel
@{
    ViewData["Title"] = "Criar contato";
}

<div class="text-center">
    <h1 class="display-4">Adicionar contato</h1>
</div>

<form asp-controller="Contato" asp-action="Criar" method="post">
    <div class="form-group">
        <label asp-for="Nome">Nome</label>
        <input type="text" class="form-control" asp-for="Nome" placeholder="Digite o nome do contato">
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Email">E-mail</label>
        <input type="text" class="form-control" asp-for="Email" placeholder="Digite o e-mail do contato">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Celular">Celular</label>
        <input type="text" class="form-control" asp-for="Celular" placeholder="Digite o celular do contato">
        <span asp-validation-for="Celular" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-success d-block w-100">Adicionar</button>
    <a class="btn btn-secondary d-block w-100" asp-controller="Contato" asp-action="Index" role="button">
        Voltar
    </a>
</form>

